@{
    ViewBag.Title = "Sobre nosotros";
}
<main aria-labelledby="title">
    
    <h3>ProPartes CR taller automotriz de Gama Alta</h3>
    <hr />
    <h4>ProPartes es un taller automotriz dedicado al mantenimiento y reparacion de autos de alta gama. </h4>
    <h4>Contamos con años de experiencia para brinda el mejor servicio y garantizar resultados. </h4>
    <h4>Estamos ubicados en el canton de Tibas.</h4>
</main>