
@model FastParts.Models.EncuestaViewModel

@{
    ViewBag.Title = "Formulario";
}

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-secondary align-self-end" onclick="history.back()">  <i class="fas fa-arrow-left me-1"></i> Volver</button>
    </div>

    @Html.Partial("_LlenarEncuesta", Model)
</div>