@model FastParts.Models.EncuestaViewModel

@{
    ViewBag.Title = "Historial";
}

<div class="container mt-4">

    <div class="col">
        <a href="@Url.Action("AdministrarEncuestas", "Encuesta")" class="btn btn-outline-secondary mb-3"> ← Volver al Panel de Encuentas </a>
    </div>

    <h2 class="mb-4">Respuestas</h2>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Fecha de Respuesta</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var respuesta in @Model.Respuestas)
            {
                <tr>
                    <td>@respuesta.FechaCreacion</td>
                    <td>
                        <a href="@Url.Action("LlenarEncuesta", "Encuesta", new { IdEncuesta = respuesta.ID_Encuesta, SessionId = respuesta.Session_Id })" class="btn btn-secondary mb-3">Ver respuestas</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

